<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.mrwang.d_aspect.b_anno"></context:component-scan>

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<!-- <aop:config> -->
	<!-- <aop:aspect ref="myAspect"> -->
	<!-- <aop:pointcut -->
	<!-- expression="execution(* com.mrwang.d_aspect.b_anno.UserServiceImpl.*(..))" -->
	<!-- id="myPointCut" /> -->
	<!-- <aop:before method="myBefore" pointcut-ref="myPointCut" /> -->
	<!-- <aop:after-returning method="myAfterRrturning" -->
	<!-- pointcut-ref="myPointCut" returning="ret" /> -->
	<!-- <aop:around method="myAround" pointcut-ref="myPointCut" /> -->
	<!-- <aop:after-throwing method="myAfterThrowing" -->
	<!-- pointcut-ref="myPointCut" throwing="e" /> -->
	<!-- <aop:after method="myAfter" pointcut-ref="myPointCut" /> -->
	<!-- </aop:aspect> -->
	<!-- </aop:config> -->

</beans>