<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="collData" class="com.mrwang.f_xml.e_coll.CollData">
		<property name="arrayData">
			<array>
				<value>DS</value>
				<value>DDS</value>
				<value>屌丝</value>
				<value>大屌丝</value>
			</array>
		</property>

		<property name="listData">
			<list>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
			</list>
		</property>

		<property name="setData">
			<set>
				<value>q</value>
				<value>w</value>
				<value>e</value>
				<value>r</value>
			</set>
		</property>

		<property name="mapData">
			<map>
				<entry key="mrwang" value="王"></entry>
				<entry>
					<key>
						<value>rose</value>
					</key>
					<value>肉丝</value>
				</entry>
			</map>
		</property>

		<property name="propsData">
			<props>
				<prop key="高富帅">嫐</prop>
				<prop key="白富美">嬲</prop>
				<prop key="屌丝">挊</prop>
			</props>
		</property>
	</bean>
</beans>