<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.mrwang.f_xml.c_p.Person" p:pname="wang"
		p:age="2" p:homeAddr-ref="homeAddr" p:comAddr-ref="comAddr">
		<!-- <property name="pname" value="wang"></property> <property name="age"> 
			<value>1</value> </property> <property name="homeAddr" ref="homeAddr"></property> 
			<property name="comAddr"> <ref bean="comAddr" /> </property> -->
	</bean>

	<bean id="homeAddr" class="com.mrwang.f_xml.c_p.Address" p:addr="DG"
		p:tel="东莞">
		<!-- <property name="addr" value="ez"></property> <property name="tel" 
			value="119"></property> -->
	</bean>

	<bean id="comAddr" class="com.mrwang.f_xml.c_p.Address" p:addr="DG"
		p:tel="岛国">
		<!-- <property name="addr" value="wuhan"></property> <property name="tel" 
			value="110"></property> -->
	</bean>
</beans>